<h1>Historique des Demandes</h1>
<div class="controls">

    <div class="filters-style">
        <img
            src="assets/icons/filter.svg"
            alt="Student Icon"
            class="icon-svg" />
        <select class="select" (change)="onCategoryChange($event)">
            <option value="" disabled selected hidden>Filtrer par document</option>
            <option value="ALL">Toutes les demandes</option>
            <option value="ATTESTATION_SCOLARITE">Attestations</option>
            <option value="RELEVE_NOTES">Relevés de notes</option>
        </select>
        <select class="select" (change)="onStatusChange($event)">
            <option value="" disabled selected hidden>Filtrer par status</option>
            <option value="ALL">Toutes les demandes</option>
            <option value="APPROVEE">Approuvées</option>
            <option value="REFUSEE">refusées</option>
        </select>
    </div>

    <div class="search-bar">
        <input type="text"
            placeholder="Rechercher par nom, email ou N° apogée..."
            (input)="onSearch($event)">

        <img
            src="assets/icons/search.svg"
            alt="Student Icon"
            class="search-icon-svg" />
    </div>
</div>
