<!-- src/app/demande-item/demande-item.component.html -->
<tr>
  <td>{{ demande.email }}</td>
  <td>{{ demande.cin }}</td>
  <td>{{ demande.apogeeNumber }}</td>
  <td>{{ demande.documentType }}</td>
  <td><span class="status-badge status-pending">{{ demande.status }}</span></td>
  <td>{{ demande.submissionDate | date: 'shortDate' }}</td>
  <td>
    <button class="btn approve">
      <img src="assets/icons/approve_white.svg" alt="Approuver Icon" class="icon-svg">
      Approuver
    </button>
    <button class="btn reject">
      <img src="assets/icons/reject_white.svg" alt="Rejeter Icon" class="icon-svg">
      Rejeter
    </button>
  </td>
</tr>
