.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 3.3rem;
  z-index: 10;
}

.header h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.header p {
  color: black !important;
  font-size: 1.4rem;
  font-weight: 600;
  
}


.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
  background-color: #fffde2c3; /* Soft light gray background */
  color: #333; /* Neutral dark gray text color */
  padding: 3px 10px; /* Slightly larger padding for balance */
  border-radius: 5px; /* Rounded corners for a modern look */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.circle-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
 
}


.icon-svg-user {
  width: 2.5rem;
  height: 2.5rem;
}