<div class="header">
  <ng-container *ngIf="userClaimsState$ | async as claims">

    <h2 *ngIf="router.url === '/admin/dashboard'">DASHBOARD</h2>
    <h2 *ngIf="router.url === '/admin/demandes'">ADMINISTRATION</h2>
    <h2 *ngIf="router.url === '/admin/reclamations'">ADMINISTRATION</h2>
    <h2 *ngIf="router.url === '/admin/historique'">ADMINISTRATION</h2>
    <div class="user-info">
      <p>{{claims.username}}</p>
      <div class="circle-container">
        <img src="assets/icons/admin_2.svg" alt="User Icon" class="icon-svg-user">
      </div>
    </div>

  </ng-container>
</div>
