<div class="card">
    <div class="card-header">
      <h3>Demandes Traitées</h3>
      <p>Liste des demandes ayant reçu une action</p>
    </div>
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Email</th>
            <th>N° Apogée</th>
            <th>Document</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="demandeState$ | async as state"> <!-- for each state we have an array of demands Demande[] each array has items of type Demande -->
          <tr app-historique-item *ngFor="let demande of state.demandes" [demande]="demande"></tr>
        </ng-container>

        </tbody>
      </table>
    </div>
</div>
