<div class="card">
    <div class="card-header">
      <h3>Demandes Traitées</h3>
      <p>Liste des demandes ayant reçu une action</p>
    </div>
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Email</th>
            <th>N° Apogée</th>
            <th>Document</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr app-historique-item ></tr>
        </tbody>
      </table>
    </div>
  </div>
