 <div class="container1">
  <div class="container2">
    <div class="content">
      <div class="text-center">
        <h1>Portail des Services Étudiants</h1>
        <p>
          Accédez à vos documents et services administratifs en quelques clics
        </p>
      </div>

      <div class="card-grid">
        <!-- Student Card -->
        <div class="card">
          <a routerLink="/student/demande">
            <div class="card-content">
              <div class="icon">
                <img
                  src="assets/icons/student.svg"
                  alt="Student Icon"
                  class="icon-svg-bg-home" />
              </div>
              <div class="card-text">
                <h2>Espace Étudiant</h2>
                <p>Demandez vos attestations et relevés de notes</p>
                <button class="btn">Accéder à l'espace étudiant</button>
              </div>
            </div>
          </a>
        </div>
        <!-- Admin Card -->
        <div class="card">
          <a routerLink="/login">
            <div class="card-content">
              <div class="icon">
                <img
                  src="assets/icons/admin.svg"
                  alt="Admin Icon"
                  class="icon-svg-bg-home" />
              </div>
              <div class="card-text">
                <h2>Espace Administrateur</h2>
                <p>Gérez les demandes et les documents des étudiants</p>
                <button class="btn">Accéder à l'espace admin</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>