<main class="flex justify-center items-center min-h-screen bg-gray-50">
    <div class="w-full max-w-xl p-6 bg-white rounded-lg shadow-md">
      <h1 class="text-2xl font-semibold text-gray-800 mb-6">Faire une Demande</h1>
  
      <!-- Form -->
      <form class="space-y-6" [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Adresse e-mail *</label>
          <input type="email" formControlName="email" id="email" name="email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-600" />
        </div>
  
        <!-- Numéro Apogée Field -->
        <div>
          <label for="numApogee" class="block text-sm font-medium text-gray-700">Numéro Apogée *</label>
          <input type="text" formControlName="apogeeNumber" id="numApogee" name="numApogee" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-600" required />
        </div>
  
        <!-- CIN Field -->
        <div>
          <label for="cin" class="block text-sm font-medium text-gray-700">CIN *</label>
          <input type="text" formControlName="cin" id="cin" name="cin" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-600" required />
        </div>
  
        <!-- Type de document Field -->
        <div>
          <label for="documentType" class="block text-sm font-medium text-gray-700">Type de document à demander *</label>
          <select formControlName="documentType" id="documentType" name="documentType" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-600" required>
            <option value="">Sélectionner un document</option>
            <option value="Relevé de notes">Relevé de note</option>
            <option value="Attestation de scolarité">Attestation de scolarité</option>
          </select>
        </div>
  
        <!-- Submit Button -->
        <div class="flex justify-end">
          <button type="submit" class="px-6 py-3 text-white bg-gray-800 rounded hover:bg-gray-700" [disabled]="!this.demandeForm.valid">
            FAIRE UNE DEMANDE
          </button>
        </div>
      </form>
    </div>
  </main>
  