<div class="flex flex-col items-center justify-center h-screen bg-gray-50">
    <header class="absolute top-6 left-6 flex items-center">
      <span class="text-2xl font-bold">E-</span>
      <span class="ml-2 text-gray-600 font-semibold">SCOLARITE</span>
    </header>
    
    <main class="flex items-center justify-between w-4/5 max-w-6xl py-12 px-10 bg-white rounded-lg shadow-md min-h-[400px]">
        
      <div class="w-1/2 flex items-center justify-center">
        <img 
          src="/assets/images/filling.png" 
          alt="Filling Survey" 
          class="w-64 h-auto rounded-md"
        />
      </div>
      
      <!-- Text Section -->
      <div class="w-1/2">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">
          Bienvenue dans le portail des services pour les étudiants.
        </h1>
        <p class="text-gray-600 mb-6">
          Veuillez sélectionner votre rôle pour accéder aux fonctionnalités adaptées à vos besoins.
        </p>
        <div class="flex space-x-4">
          <button
            routerLink="/student/demande"
            class="w-full px-6 py-3 text-white bg-gray-800 rounded hover:bg-gray-700"
          >
            Étudiant
          </button>
          <button
            routerLink="/login"
            class="w-full px-6 py-3 text-gray-800 border border-gray-800 rounded hover:bg-gray-100"
          >
            Professeur
          </button>
        </div>
      </div>
    </main>
    
   
  </div>
  