<div class="card">
  <div class="card-header">
    <h3>Réclamations en attente</h3>
    <p>Liste des réclamations qui nécessitent une action</p>
  </div>
  <ng-container *ngIf="reclamationsState$ | async as state">
  <div class="card-content">
    <div class="spinner-container" *ngIf="state.state === STATE.loading">
      <div class="spinner"></div>
      <p class="loading-text">Chargement...</p>
    </div>
    <!-- Error State -->
    <div class="error-container" *ngIf="state.state === STATE.error">
      <div class="error-icon">⚠️</div>
      <p class="error-text">Une erreur s'est produite. Veuillez réessayer.</p>
      <button class="btn retry" (click)="onRetry()">Réessayer</button>
    </div>
    <table *ngIf="state.state === STATE.loaded">
      <thead>
        <tr>
          <th>Date de Soumission</th>
          <th>Etudiant</th>
          <th>Email</th>
          <th>Sujet</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
   
          <ng-container *ngFor="let reclamation of state.reclamations">
            <!-- Main row -->
            <tr>
              <td>{{reclamation.dateCreation}}</td>
              <td>{{reclamation.etudiant?.nom}}</td>
              <td>{{reclamation.etudiant?.email}}</td>
              <td>{{reclamation.sujet}}</td>
              <td>
                <button class="btn treat" (click)="toggleDetails(reclamation)">
                  <img src="assets/icons/expand_white.svg" alt="Traiter Icon" class="icon-svg">
                  Afficher plus
                </button>
                <button class="btn respond">
                  <img src="assets/icons/email_white.svg" alt="Répondre Icon"
                      class="icon-svg">
                  Répondre
              </button>
              </td>
            </tr>

            <!-- Details row -->
            <tr *ngIf="expandedReclamation === reclamation" class="details-row">
              <td colspan="5" class="details-cell">
                <div class="details-content">
                  <h4>Sujet: {{reclamation.sujet}}</h4>
                  <p>Message: {{reclamation.message}}</p>
                  <button class="" (click)="toggleDetails(null)">Retour</button>
                </div>
              </td>
            </tr>            
          </ng-container>
     
      </tbody>
    </table>
  </div>
</ng-container>
</div>