<div class="card">
  <div class="card-header">
    <h3>Réclamations en attente</h3>
    <p>Liste des réclamations qui nécessitent une action</p>
  </div>
  <ng-container *ngIf="reclamationsState$ | async as state">
    <div class="card-content">
      <div class="spinner-container"
        *ngIf="(state.state === STATE.loading) && !state.respondLoading">
        <div class="spinner"></div>
        <p class="loading-text">Chargement...</p>
      </div>
      <!-- Error State -->
      <div class="error-container" *ngIf="state.state === STATE.error">
        <div class="error-icon">⚠️</div>
        <p class="error-text">Une erreur s'est produite. Veuillez réessayer.</p>
        <button class="btn retry" (click)="onRetry()">Réessayer</button>
        <!-- Toggle Details -->
       <input type="checkbox" id="toggle-details" class="toggle-checkbox" />
       <label for="toggle-details" class="details-toggle-label">
         Afficher les détails
       </label>
     
       <!-- Collapsible Section for Error Details -->
       <div class="error-details">
         <pre class="error-json">{{ state.errorMessage | json }}</pre>
       </div>
     
      </div>
      <table
        *ngIf="(state.state === STATE.loaded) || ( ( state.state === STATE.loading ) && state.respondLoading)">
        <thead>
          <tr>
            <th>Date de Soumission</th>
            <th>Etudiant</th>
            <th>Email</th>
            <th>Sujet</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="state.reclamations && state.reclamations.length > 0; else noReclamations">
          <ng-container *ngFor="let reclamation of state.reclamations">
            <!-- Main row -->
            <tr>
              
              <td>{{reclamation.dateCreation | date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{reclamation.etudiant?.nom}}</td>
              <td>{{reclamation.etudiant?.email}}</td>
              <td>{{reclamation.sujet}}</td>
              <td>
                <button class="btn treat" (click)="toggleDetails(reclamation)">
                  <img src="assets/icons/expand_white.svg" alt="Traiter Icon"
                    class="icon-svg">
                  Afficher plus
                </button>
              </td>
            </tr>

            <tr *ngIf="expandedReclamation === reclamation" class="details-row">
              <td colspan="5" class="details-cell">
                <div class="combined-content">

                  <!--Details half-->
                  <div class="details-content">

                    <div class="message-container">
                      <div class="message-label">Sujet</div>
                      <div class="message-content">{{ reclamation.sujet }}</div>
                    </div>

                    <div class="message-container">
                      <div class="message-label">Message</div>
                      <div class="message-content"> {{ reclamation.message }} </div>
                    </div>

                  </div>

                  <!--form half-->
                  <div class="details-content">

                    <div class="response-form" *ngIf="!state.respondLoading">
                      <!--Form-->
                      <form [formGroup]="responseForm" (ngSubmit)="onRespond(reclamation)">
                        <div class="form-group-textarea"
                          [ngClass]="{
                            error:
                              responseForm.get('response')?.invalid &&
                              (responseForm.get('response')?.touched ||
                                responseForm.get('response')?.dirty)
                          }"
                        >
                          <label for="responseMessage">Réponse</label>
                          <textarea id="responseMessage" formControlName="response" placeholder="Entrez votre réponse..." rows="4"></textarea>
                          <div class="form-message"
                            *ngIf="
                              responseForm
                                .get('response')
                                ?.hasError('required') &&
                              (responseForm.get('response')?.touched ||
                                responseForm.get('response')?.dirty)
                            "
                          >
                            Le message de réponse est requis.
                          </div>
                        </div>
                        <div class="actions">
                          <button
                            type="submit"
                            class="btn respond"
                            [disabled]="state.respondLoading"
                          >
                            <img
                              src="assets/icons/email_white.svg"
                              alt="Répondre Icon"
                              class="icon-svg"
                            />
                            Envoyer
                          </button>
                          <button
                            type="button"
                            class="btn reject"
                            (click)="toggleDetails(null)"
                          >
                            Fermer
                          </button>
                        </div>
                      </form>
                    </div>
                    <!-- Loading Spinner -->
                    <div class="spinner-container" *ngIf="state.respondLoading">
                      <div class="spinner"></div>
                      <p class="loading-text">En cours...</p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <!-- Details row 
            <tr *ngIf="(expandedReclamation === reclamation) "
              class="details-row">
              <td colspan="5" class="details-cell">
                <div class="details-content">
                  <h4>Sujet: {{reclamation.sujet}}</h4>
                  <p>Message: {{reclamation.message}}</p>
                  <button class (click)="toggleDetails(null)">Fermer</button>
                </div>
              </td>
            </tr>

            <tr *ngIf="(respondingReclamation === reclamation)"
              class="details-row">
              <td colspan="5" class="details-cell">
                <div class="spinner-container" *ngIf="state.respondLoading ">
                  <div class="spinner"></div>
                  <p class="loading-text">En cours...</p>
                </div>
                <div class="details-content" *ngIf="!state.respondLoading ">
                  <h4>Réponse</h4>
                  <form [formGroup]="responseForm"
                    (ngSubmit)="onRespond(reclamation)">
                    <div class="form-group-input"
                      [ngClass]="{'error': responseForm.get('response')?.invalid && (responseForm.get('response')?.touched || responseForm.get('response')?.dirty)}">
                      <label for="responseMessage">Votre réponse:</label>
                      <input type="text" formControlName="response"
                        placeholder="Entrez votre réponse...">
                      <div class="form-message"
                        *ngIf="responseForm.get('response')?.hasError('required') && (responseForm.get('response')?.touched || responseForm.get('response')?.dirty)">
                        Le message de réponse est requis.
                      </div>
                    </div>
                    <div class="actions">
                      <button type="submit" class="btn approve"
                        *ngIf="!state.respondLoading">Envoyer</button>
                      <button type="button" class="btn reject"
                        (click)="closeResponseForm()">Fermer</button>
                    </div>
                  </form>
                </div>
              </td>

            </tr> -->

          </ng-container>
        </ng-container>
        <ng-template #noReclamations>
          <tr>
            <td colspan="5" class="text-center text-gray-500">
              Aucune réclamation trouvée.
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>