/* Card styles */
  /*card*/
  .card {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    transition: box-shadow 0.2s ease, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
  }



  /*card-header*/
  
.card-header-auth {
    padding: 1.25rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  
.card-header-auth h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
.card-header-auth p {
    color: #6b7280;
    font-size: 0.9rem;
    margin: 0.5rem;
  }
  

/*card-content-auth*/

.card-content-auth {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;

        padding: 1.25rem 1.5rem;
        text-align: left;
        align-items: stretch;
  }


  .form-group {
  margin-bottom: 1.5rem;
  width: 93%;
}

.form-group label {
  display: block;
  color: #374151;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Input styles */
.form-group input {
  width: 100%;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: #1f2937;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}



.form-group input:hover,
.form-group input:focus {
  outline: none;
  border-color: #171717;
  box-shadow: 0 0 0 1px #171717;
}

/* Select styles */
.form-group select {
  width: 600px; /* Adjusted width */
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: #1f2937;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-group select:hover,
.form-group select:focus{
  outline: none;
  border-color: #171717;
  box-shadow: 0 0 0 1px #171717;
}


.form-message {
    margin-top: 0.375rem;
    font-size: 0.875rem;
    color: #dc2626;
    display: none;
  }


  /* Button styles */
.btn {
    width: 100%;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #171717;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1.25;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  
  .btn:focus-visible {
    outline: 2px solid #000000;
    outline-offset: 2px;
  }
  
  .btn:active {
    background-color: #000000;
  }