
/*----------wrapper */
.tab-wrapper {
    position: fixed; /* Fixed on the screen */
    top: 0; /* Align with the top of the screen */
    width: 640px; /* Match the width of the form */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 100; /* Keep it above other content */
    padding: 60px 10px 10px; /* Extend padding to cover 20px space at the top */
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 0 0 8px 8px; /* Rounded corners only at the bottom */
    border: 1.5px solid rgba(239, 239, 239, 0.6); /* Subtle border using #efefef */
  }
  
    
    /*----------container */
    .tab-wrapper .tab-container {
      background-color: #efefef;
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two buttons of equal width */
      gap: 4px; /* Space between the buttons */
      width: 100%; /* Match the navbar width */
      padding: 4px;
      border-radius: 8px;
    }
    
    /*----------buttons */
    .tab-wrapper .tab-container .tab-button {
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s;
      background: transparent;
      background-color: #efefef;
    }
    
    /*this is used with the router, when click on a button that uses the router we will activate this style*/
    .active-tab {
      background-color: white !important;
    }
    
    