<div class="container">
  <!-- Navigation Bar -->
  <section class="section">
  <app-demandes-nav-bar (searchChanged)="onSearchChanged($event)" (categoryChanged)="onCategoryChanged($event)"></app-demandes-nav-bar>
  <!-- Demand List -->
  <!-- we will pass the Observable we collected in this component to app-demandes-list -->
  <!-- [ the @input property in the child referenced here ] = "the property we want to pass from the parent" -->
  <app-demandes-list [demandeState$]="combined$"></app-demandes-list>
  </section>
</div>
