<!-- src/app/demandes-list/demandes-list.component.html -->

<div>
    <div class="card-header">
        <h3>Demandes</h3>
        <p>Liste des demandes qui nécessitent une action</p>
      </div>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>CIN</th>
          <th>Apogee Number</th>
          <th>Document Type</th>
          <th>Status</th>
          <th>Submission Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <app-demande-item 
        [demande]="d" 
        *ngFor="let d of demands"
        style="display:contents;"
        ></app-demande-item>
      </tbody>
    </table>
  </div>
  